.main-logo{
  background-image: url(../../../assets/img/logo.svg);
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 2.5rem;
  width: 50px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  // background-color: white;
  padding: 0 1.5rem;
}